*{
	box-sizing: border-box;
}
.content{
	width: 100%;
}
@media (min-width: 992px){
	.box-d{
		float: left;
		border: 2px solid black;
	}

	.box-d{
		width:33.33%;
	}
}

@media (min-width: 768px) and (max-width: 991px){
	.box-t{
		float: left;
		border: 2px solid black;
	}

	.box-t{
		width: 10;
	}
}
