*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
div.content{
	width: 100%;
	margin-right: 10px;
}


@media (min-width: 992px){
	.box-d{
		float: left;
		border: 1px solid black;
	}

	.box-d{
		width:33.33%;
	}
}

@media (min-width: 768px) and (max-width: 991px){
	.box-t{
		float: left;
		border: 1px solid black;
	}

	.box-t{
		width: 50%;
	}

	#special_box{
		width: 100%;
		margin: 10px 10px 10px 10px;
	}
}

@media (max-width: 767px){
	.box-m{
		float: left;
		border: 1px solid black;
	}

	.box-m{
		width: 100%;
	}
}

