body{max-width: 700px;
    width: 80%; height:auto;
	margin:20px auto;
	border:20px solid #bdc3c7;
	padding: 20px;
    font-family:'source sans pro';}

h2{color: #2c3e50;
  font-size: 2.0rem;}

.date{color: #3498db;
      letter-spacing: .4rem;
      text-transform: uppercase;}

hr{margin-top: 20px;margin-bottom: 20px;
    /*styling of hr that's done below is not mine*/
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

div{border-left:5px solid #bdc3c7; 
	padding-left: 5px;}